*.docx
*.doc
*.xlsx
*.xls
*.pptx
*.ppt
*.mat
*.csv
*.tsv
*.exe
*.txt
*.eps
*.pdf
*.png
*.jpg
*.Rdata
*.int
*.emf
*.zip
*.nc
*.hdf
*.dat
*.html
Irradiance/COPS_profiles/
Achim_Randelhoff/
DMSP_O_acrylate/
Data_Amundsen/
Enrichment_Dinasquet/
Field_reports_Amundsen/
IFCB/
Ice_Snow/
MS_IceCamp_Amundsen/
Materials/
Protocols/
backup_GCMS/
database/
meetings_ppts/
meteo/
paperassa/
